{% load static %}
<nav class="navbar">
  <div class="main-menu">
    <ul>
      <li>
        <a href="#home">
          <img src="{% static 'main/qna.png' %}" width="30" height="30" />
        </a>
      </li>
      <li><a href="{% url 'index' %}">HomePage</a></li>
      <li>
        <form action="{% url 'search_results' %}">
          <i class="fa fa-search icon" style=" position: absolute; padding:6px;"></i>
          <input
            type="search"
            placeholder= ' {{ phrase }}'
            aria-label="Search"
            name="search"
          style="border-radius: 24px; padding-left:25px;"/>
          <button type="submit" style="visibility: hidden;"></button>
        </form>
      </li>
    </ul>
  </div>

  <div class="main-menu">
    <ul>
      <li><a href="{% url 'new-question' %}">Ask</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'users-profile' %}">{{ user }}</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
